# Virtual Environment
langchain-vector_db/

# Environment Variables
.env

02_LangChain_Chat_with_Your_Data/data/docs/youtube/
02_LangChain_Chat_with_Your_Data/data/docs/chroma/

projects/environmental_vector_store_path.faiss/
projects/polictic_vector_store_path.faiss/
